[user]
	name = Matt Layman
	email = matthewlayman@gmail.com
[color]
	ui = true
[pull]
	rebase = true
[push]
	default = simple
[pager]
    branch = false
[init]
	defaultBranch = main
[alias]
    gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
