[alias]
    gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
[user]
	name = Matt Layman
	email = matthewlayman@gmail.com
[color]
	ui = true
[push]
	default = simple
[pager]
    branch = false
[diff "sopsdiffer"]
	textconv = sops -d
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/mattlayman/.gitignore_global
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[init]
	templateDir = /Users/mattlayman/.ih/git-template
