[user]
	name = Matt Layman
	email = matthewlayman@gmail.com
[color]
	ui = true
[push]
	default = simple
[pager]
    branch = false
[diff "sopsdiffer"]
	textconv = sops -d
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
