# Neovim
nvim/autoload/*
!nvim/autoload/test

# OS X
.DS_Store

# Omarchy stuff
# Omarchy symlinks a theme file intended for LazyVim. My lazy setup loads
# from mblayman/plugins instead of plugins, so the file doesn't do anything.
nvim/lua/plugins/theme.lua
